body{
    padding:0px;
    margin:0px;
    font-family: "CorbelRegular", "Helvetica Neue", Helvetica, sans-serif;
    color:#646EF0;
    text-shadow: 0 -1px 2px rgba(5, 4, 11, .8);
    background-image:url('../images/skewedprint.png');
}
.clearall{
    border:none;
    text-shadow: none;
    box-shadow: none;
}
h1{
    font-size: 34px;
    margin-top:0px;
    margin-bottom:10px;
    color:#B6B7D4;
    text-shadow: 0 -1px 2px rgba(37, 37, 51, .8);
}

h2{
    font-size:26px;
    margin:0px;
}
h3{
    font-size:22px;
    margin:0px;
}
ul{
    list-style: none;
}
img {
    border: 1px solid #03031F;
    border-radius: 5px 5px;
}

img:hover{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.container{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 1040px;
    height:400px;
    margin-top:30px;
    margin-bottom: 30px;
    padding:30px 20px;
    border-radius: 5px 5px;
    border:1px solid #03031F
}
.gradient{
background: #1d1f28; /* Old browsers */
background: -moz-linear-gradient(top,  #1d1f28 0%, #11111e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d1f28), color-stop(100%,#11111e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1d1f28 0%,#11111e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1d1f28 0%,#11111e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1d1f28 0%,#11111e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1d1f28 0%,#11111e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1f28', endColorstr='#11111e',GradientType=0 ); /* IE6-9 */
}
.bshadow{
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
-moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.8);
box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.8);
}
.bshadowimg{
-webkit-box-shadow: 0px 1px 4px rgba(90, 91, 156, 0.8);
-moz-box-shadow:    0px 1px 4px rgba(90, 91, 156, 0.8);
box-shadow:         0px 1px 4px rgba(90, 91, 156, 0.8);
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}
.gridhalf{
    display:inline-block;
    float:left;
    padding:0px 20px;
}
.chgslider{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 1040px;
    height:40px;
    margin-bottom: 10px;
    padding:10px 20px;
    border-radius: 2px 2px;
}
.line {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 920px;
    height:0px;
    padding:0px;
    border-radius: 2px 2px;
    position:relative;
    bottom:24px;
    border-top:2px solid #B6B7D4;
    z-index: 1;
}

.darkorange{
    color:#C73F17;
}
.textcenter{
    text-align: center;
}
.greyfont{
    color:#aaaaaa;
}
.summaries{
    background:#11111e;
    margin:0px;
    padding:5px 10px 10px 10px;
    border-radius:5px 5px;
    border:2px solid #1d1f28;
}
.summaries p{
    color:#9391AC;
    font-size: 13px;
    margin:0px;
    padding:0px;
}
.links{
    width:150px;
    display:inline-block;
}
.links a{
    color:#C73F17;
}
.explainations{
    width:175px;
    display:inline-block;
    color:#9391AC;
    font-size: 13px;
    margin:0px;
    padding:0px;
}
.rules{
    width: 600px;
    margin: 0px 0px 20px 0px;
    padding: 0px 220px;
    color:#9391AC;
}
.chgslider ul{
    display:inline-block;
    padding:0px;
    margin:5px 0px;
}
.chgslider ul li{
    display:inline-block;
    float:left;
    margin-left:50px;
    width:30px;
    height:30px;
    background: #f2f2f2;
    border-radius:15px 15px;
    z-index: 2;
    position:relative;

}
.chgslider ul li:hover{
    background: #5A5B9C;
    cursor: pointer;
    z-index: 3;
    -webkit-box-shadow: 0px 2px 12px rgba(90, 91, 156, 0.8);
    -moz-box-shadow:    0px 2px 12px rgba(90, 91, 156, 0.8);
    box-shadow:         0px 2px 12px rgba(90, 91, 156, 0.8);
    position:relative;
}
.chgslideractive{
    background: orange;
    position:relative;
}
#node1{
    background: orange;
}
/* Buttons */
.gobutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:26px;
	font-weight:bold;
	padding:6px 30px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
        margin-top:40px;
}.gobutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
        cursor: pointer;
}.gobutton:active {
	position:relative;
	top:1px;
}
