body{
    padding:0px;
    margin:0px;
    font-family: "CorbelRegular", "Helvetica Neue", Helvetica, sans-serif;
    color:#010101;
    text-shadow: 0 -1px 1px rgba(20, 20, 20, .8)
}
.clearall{
    border:none;
    text-shadow: none;
    box-shadow: none;
}
script{
    display:none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1{
    font-size: 34px;
    margin-top:0px;
    margin-bottom:10px;
    color:#B6B6d6;
    text-shadow: 0 -1px 2px rgba(37, 37, 51, .8);
}

h2{
    font-size:26px;
    margin:0px;
}
h3{
    font-size:22px;
    margin:0px;
    color:#C73F17;
}
ul{
    list-style: none;
}
img {
}
#addnewtitle input, .gridfour textarea{
    background: rgba(0,0,0,0.1);
    border:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    color:#999;


}
.gridfour input:focus, .gridfour textarea:focus{
    border: none;
    outline: none;
    box-shadow: none;
    color:#999;

    
}
input{
    color:#aaa;
}
input:not([type=file]),textarea{
    border: 1px solid #151515; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.3),
            0 0 10px rgba(0,0,0,0.3); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.3),
            0 0 10px rgba(0,0,0,0.3); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.3),
            0 0 10px rgba(0,0,0,0.3); 
    padding: 3px;
    background: rgba(255,255,255,0.8);
}
input:focus,textarea:focus{
    outline: none;
    box-shadow: none;
    border:1px solid #333;
    color:#222;
}
img:hover{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
.container{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 1040px;
}
.content{
    z-index: 1;
    position:relative;
    display:block;
    margin: 0 auto;
    width: 1040px;
    height:500px;
    padding:20px 0px;
}
#holder{
    width:940px;
    position: relative;
}
.gradient{
background: #0a0a0a; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0a0a0a 1%, #020202 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0a0a0a), color-stop(100%,#020202)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0a0a0a 1%,#020202 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0a0a0a 1%,#020202 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0a0a0a 1%,#020202 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0a0a0a 1%,#020202 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#020202',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bgprint{
    background-image:url('../images/skewedprint.png');
    height:100%;
}
.bshadow{
-webkit-box-shadow: 0px 2px 10px rgba(34, 34, 34, 0.4);
-moz-box-shadow:    0px 2px 10px rgba(34, 34, 34, 0.4);
box-shadow:         0px 2px 10px rgba(34, 34, 34, 0.4);
    }

.bshadowimg{
-webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.8);
-moz-box-shadow:    0px 1px 8px rgba(0, 0, 0, 0.8);
box-shadow:         0px 1px 8px rgba(0, 0, 0, 0.8);
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}
.headerbg{
    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(14,14,14,0.75)), to(rgba(4,4,4,0.9)));
    background-image:-moz-linear-gradient(top,bottom,from(rgba(14,14,14,0.75)), to(rgba(4,4,4,0.9)));
    height:30px;
}

.header img{
    width:100px;
    display:inline-block;
    float:left;
    border:none;
}

.header ul{
    position:relative;
    display:inline-block;
    float:left;
    margin:0px;
    padding:6px 40px;
}
.nav{
    position:relative;
    display:inline-block;
}
ul.nav2, ul.nav2 li{
    display:inline-block;
    float:left;
    margin-right: 5px;
    padding:0px;

}
.nav2 img{
    width:60px;
}
    .nav2 img:hover{
        cursor: pointer;
        border:1px solid #252525;
        position: relative;
        right:1px;
        bottom:1px;
    }
.header ul li{
    display:inline-block;
    float:left;
    color:#f2f2f2;
    padding:0px 10px;
    border-left:1px solid #222222;
    cursor: pointer;
    font-weight:200;
}
.header ul li a{
    display:inline-block;
    float:left;
    color:#f2f2f2;
    cursor: pointer;
    font-weight:200;
    text-decoration: none;
}
.projectbg{
    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(54,54,54,0.75)), to(rgba(34,34,34,0.9)));
    background-image:-moz-linear-gradient(top,bottom,from(rgba(44,44,44,0.75)), to(rgba(34,34,34,0.9)));
    border-top:1px solid rgb(54,54,54);
    border-bottom: 1px solid #111111;
    height:100%;
}
.project h2{
    padding:12px 50px;
    color:#d2d2d2;
    font-weight:100;
}
/* Left Nav */
.leftnav{
    z-index: 900;
    width:50px;
    height:540px;
    position:absolute;
    border-right: 1px solid #111111;
    float:left;
    background:#151515;
    display:none;
}

.nbutton{
    z-index: 1000;
    height:32px;
    padding:9px;
    border-bottom: 1px solid #111111;
    border-top:1px solid #222222;
}
.nbuttonhover{
    cursor: pointer;
    position: relative;
    background:#333333;
    width:140px;
    border-right:2px solid #1a1a1a;
    border-bottom:2px solid #1a1a1a;


}
.nbuttonhover p{
    color:#f2f2f2;
    float:left;
    margin:9px 0px 0px 9px;
    display:inline-block;
    font-weight: 200;
}
.nbutton img{
    width:32px;
    float:left;
}
/* Right Nav */
#rightnav{
    z-index: 5;
    display:none;
    width:340px;
    height:540px;
    position:absolute;
    top:87px;
    right:0px;
    float:left;
    background:#151515;
}

.holder iframe{
    frameborder:0;
}
.gridhalf{
    position:relative;
    display:inline-block;
    float:left;
    padding:0px 20px;
}


.darkorange{
    color:#C73F17;
}
.textcenter{
    text-align: center;
}
.greyfont{
    color:#555555;
}

.addnew{
    margin-left:-20px;
    margin-right:-20px;
    padding:10px 120px;
    font-size:14px;
    color:#C73F17;
    border-bottom:1px solid #1d1f28;
}

.summaries{
    margin:0px;
    padding:5px 10px 10px 10px;
    border-radius:5px 5px;
    border-left: 1px solid #111111;
}
.summaries p{
    color:#9391AC;
    font-size: 13px;
    margin:0px;
    padding:0px;
}
.summaries h2{
    color:#4f4f4f;
    margin:10px 0px 0px 0px;
    font-weight: 500;
}
#sharelink{
    display:inline-block;
    padding:6px 10px;
    background:#f2f2f2;
    color:#333333;
    text-shadow: none;
    border:3px solid #333333;
}
p.links{
    width:150px;
    display:inline-block;
    color:#C73F17;
}
.links{
    width:120px;
    display:inline-block;
    color:#C73F17;

}
.links a{
    color:#C73F17;
}
.linkinput{
    width:303px;
    display:inline-block;
}
.explainations{
    width:175px;
    display:inline-block;
    color:#9391AC;
    font-size: 13px;
    margin:0px;
    padding:0px;
}
.rules{
    width: 600px;
    margin: 0px 0px 20px 0px;
    padding: 0px 220px;
    color:#999;
}
.chgbg{
    background: rgb(0, 0, 0); /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.2); /* RGBa with 0.6 opacity */
    clear:both;
    position:relative;
    top:20px;
}
.chgslider{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 1040px;
    height:40px;
    padding:10px 20px;
}
.chgslider ul{
    display:inline-block;
    padding:0px;
    margin:5px 0px;
}
.chgslider ul li{
    display:inline-block;
    float:left;
    margin-left:50px;
    width:30px;
    height:30px;
    background: #bfbfbf;
    border-radius:15px 15px;
    z-index: 2;
    position:relative;

}
.chgslider ul li:hover{
    background: #828282;
    cursor: pointer;
    z-index: 4;
    position:relative;
}
.chgslideractive{
    background: #C73F17;
    position:relative;
}
.return{
    margin-top:30px;
    display:inline-block;
    padding:10px 30px;
    margin-left:-20px;
    border:1px solid #111111;
    border-radius: 10px 10px;
}
.return:hover{
    cursor: pointer;
}
#node1{
    background: #C73F17;
}
/* Grid */
.gridfour{
    display:inline-block;
    float:left;
    width:240px;
    height:124px;
    margin:0px 0px 0px 20px
}
.gridimage:hover{
    cursor: pointer;
    position: relative;
    bottom:1px;
    right:1px;
    border:1px solid rgba(242,242,242,0.6);
}
.gridfour img:hover{
    cursor: pointer;
}
.gridtext{
    display:inline-block;
    float:left;
    width:98px;
    height:122px;
    color:#d2d2d2;
    text-align:right;
    padding:0px 20px 0px 0px
}
.gridtext p{
    color:#a2a2a2;
    font-size:12px;
    margin:6px 0px;
}
.gridimage{
    display:inline-block;
    float:left;
    width:114px;
    height:114px;
    background:rgba(14,14,14,0.3);
    padding:3px;
}
.gridimage img{
    height:35px;
    margin:2px;
}

.imageholder{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
/* Buttons */
.gobutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:26px;
	font-weight:bold;
	padding:6px 30px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
        margin-top:40px;
}.gobutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
        cursor: pointer;
}.gobutton:active {
	position:relative;
	top:1px;
}
.forkbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
        margin:20px 0px 0px 0px;
}.forkbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
        cursor: pointer;
}.forkbutton:active {
	position:relative;
	top:1px;
}
